<!doctype HTML>
<html>

<title>
    {% block title %}{% endblock %}
</title>
<style>
    div {
        text-align: center;
    }
</style>

<body>
    <header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        {{ message }}
        <br>
        <hr noshade>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </header>

    <header style="text-align: right;">
        <a href="{{ url_for('main.logout') }}">Logout</a>
    </header>

    {%block content %}{% endblock %}
</body>

</html>