<!doctype HTML>
<html>

<title>
    {% block title %}{% endblock %}
</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
    <header id="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <h3>{{ message }}</h3>
        <br>
        <hr noshade>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </header>


    {% if request.cookies.get("token_info") %}
    <header id="logout">
        <a href="{{ url_for('main.logout') }}">Logout</a>
    </header>
    {% endif %}


    <header id="logo">
        <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='1.png') }}" alt="logo">
        </a>

    </header>




    {%block content %}{% endblock %}
</body>

</html>