{% extends "base.html" %}
{% block title %}
Recommendations
{% endblock %}

{% block content %}

{% for song_data in data %}

<img src="{{ song_data[3] }}" alt="Album Art" style="width:300px;height:300px;">
<br>


<form name="song_chosen" method="post" action="{{ url_for('main.recommendations') }}">

    <button type="submit" name="song_chosen" value="{{ song_data [1] }} - {{ song_data [2] }}">

        {{ song_data [1] }} - {{ song_data [2] }}

    </button>


    <br><br>
</form>

{% endfor %}

{% endblock %}