{% extends "base.html" %}

{% block title %}
Index - Under Development
{% endblock %}

{% block content %}

<div>
    <em>
        This page is under development
    </em>
</div>

<script>
    function validateForm() {
        let x = document.forms["get_data"]["song_name"].value;

        let y = document.forms["get_data"]["artist_name"].value;

        if (!x && !y) {
            alert("You need to fill out one field atleast.");
            return false;
        }
    }
</script>

<div>
    <form name="get_data" method="post" action="{{ url_for('return_data') }}" onsubmit="return validateForm()">
        <p>
            <b>Note:</b> <strong>You can enter multiple values into the field separated with a comma.</strong>
        </p>
        <label for="song_name">Song Name</label><br>
        <input type="text" id="song_name" name="song_name"><br>

        <label for="artist_name">Artist Name</label><br>
        <input type="text" id="artist_name" name="artist_name"><br>

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}